{% extends 'mp-admin/_admin-layout.twig' %}


{% block title %}
	<section class="text-center">
    <div class="title">
      <h1 class="jumbotron-heading">{{ page }}</h1>
      <p class="lead ">{{ slogon }}</p>
      
    </div>
  </section>
{% endblock %}
{% block content %}

 <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 ">

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 ">
        </section>
        <!-- right col -->
</div>
         
{% endblock %}