{% extends 'mp-admin/_admin-layout.twig' %}



{% block content %}

 <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 ">
{{page}}
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 ">
        </section>
        <!-- right col -->
</div>
         
{% endblock %}