            @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i&subset=latin-ext');
            @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700');
            @import url('https://fonts.googleapis.com/css?family=Titillium+Web:200i,300,300i,400,400i,600,600i&subset=latin-ext');
            body {
                background: rgb(187, 185, 185);
            }
            
            .alert {
                border-radius: 0px;
                margin-bottom: 0px;
                z-index: +1;
            }
            
            .page-font {
                font-family: 'Raleway', sans-serif;
            }
            
            .search-font {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 300;
            }
            
            .bg-white {
                background: #ffffff;
                padding: 2rem;
            }
            
            .logo-font {
                font-family: 'Cinzel Decorative', cursive;
            }
            
            html {
                position: relative;
                min-height: 100%;
            }
            
            body {
                /* Margin bottom by footer height */
                background: #353434c5;
                min-height: 100%;
            }
            
            .top-space {
                margin-top: 2rem;
            }
            
            .top-bar {
                background-color: #db6a02 !important;
                /*background: #353434fb !important;*/
                background: #35343400 !important;
            }
            
            .nav-bottom {
                border-bottom: 1px solid #db6b02de !important;
            }
            
            .product-bottom {
                border-bottom: 1px solid #db6b02de !important;
                margin: 1rem;
            }
            
            .title {
                margin-top: .5rem;
                margin-bottom: -0.5rem;
                padding-top: 3rem;
                padding-bottom: 3rem;
                border-bottom: 1px solid #d47c29fd !important;
            }
            
            .navbar-fixed-top.scrolled {
                background-color: #db811a !important;
                transition: background-color 200ms linear;
            }
            
            .navbar-fixed-top.scrolled .nav-link {
                color: #555;
            }
            
            .dropdown-menu {
               /* background: #353434fb !important;*/
                border: 0px;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
                margin-top: 6px;
                font-size: 1.5rem;
            }
            
            .select:hover {
                background: #3d3d3d;
            }
            
            .yellow-text {
                color: #db6a02 !important;
            }
            
            .shadow {
                /*start ------------*/
                border: solid #bdbdbd 0px;
                box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
            }
            
            .slider-image {
                width: 50%;
                height: 50%;
            }
            
            .food-photo {
                background: #080808cc;
                width: 100%;
            }
            
            .container {
                /*border: 4px solid #e3e0e0;
    padding: 2px;*/
                background: #353434c5;
                color: #ffffff;
            }
            
            .footer {
                padding-top: 5rem;
                height: 10rem;
                vertical-align: middle;
                background: #353434d7;
                border-top: 1px solid #08080898
            }
            
            .products {
                vertical-align: middle;
                /*background: #df7a06ab;
                background: #3c8dbc;
                background: #E6E8EB;
                */
                padding: 0rem;
                color: #3c8dbc;
                margin-left: 5px;
                margin-right: 5px;
            }
            
            img.center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
            .img-top {
                margin-top: 4rem;
            }
            
            .img-bottom {
                margin-bottom: 2rem;
            }
            
            .txt-top {
                margin-top: 2rem;
            }
            
            .search {
                background: #d38004e3;
                border: 1px solid #ffc107;
                color: white;
            }
            
            .marketing {
                margin-top: 8px;
                min-height: 45rem;
                border: 1px solid #d7d3d34d;
                padding-bottom: 2rem;
                /*background: #d7d3d34d;*/
                background: #f6f8fa;
                min-width: 50rem;
                min-height: 50rem;
                
                
            }
            
            .login,
            .register {
                display: block;
                width: 500px;
                background: #181d1d80;
                /* background: #fb9a0b7a;
            background: #d38004e3;*/
                border: 1px solid #ffc107;
                padding: 10px;
                margin-left: 30%;
                margin-top: 5%;
                border-radius: 0px;
            }
            
            .border-black {
                border-color: #000;
            }
            
            .form-control {
                border-radius: 0px
            }
            
            .big-brand {
                font-size: 2rem;
            }
            
            .m-top {
                margin-top: 3rem;
            }
            
            .light-gray {
                color: #868383
            }
            
            .img {
                position: relative;
                float: left;
                width: 80%;
                height: 50%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .img-top {
                margin-top: 0rem;
            }
            
            img {
                width: 100%
            }
            
            .img-bottom {
                margin-bottom: 2rem;
            }
            
            .img {
                position: relative;
                float: left;
                width: 100%;
                height: 500px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 10px;
            }
            
            .underlined {
                position: relative;
                color: #3c8dbc;
                text-decoration: none;
                font-size: 24px;
                display: inline-block;
            }
            
            .underlined:hover {
                color: #3c8dbc;
            }
            
            .underlined::before {
                clear: all;
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                bottom: 0;
                left: 0;
                top: 2.8rem;
                background-color: rgb(54, 127, 169);
                visibility: hidden;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -o-transform: scaleX(0);
                transform: scaleX(0);
            }
            
            .underlined:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                color: #3c8dbc
            }
            
            .message {
                vertical-align: middle;
                /* background: #df7a06ab;
                background: #3c8dbc;
                background: #E6E8EB;*/
                padding-top: 0rem;
                color: #7e7e7e;
                margin-left: 5px;
                margin-right: 5px;
            }
            
            .navbar-nav>li>a {
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 1.8rem;
            }
            
            .main-header .logo {
                height: 54px;
            }
            
            .container-fluid {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }
            
            .admin {
                margin-top: 48px;
                min-height: 100%
            }
            
            .admin-nav {
                height: 54px;
            }
            
            .admin-content {
                min-height: 0px;
                padding: 15px;
                margin-right: auto;
                margin-left: auto;
                padding-left: 15px;
                padding-right: 15px;
            }
            
            input[type="file"] {
                display: block;
                background: #fff;
                padding-top: 20px;
                padding-bottom: 50px;
                text-align: left;
            }
            
            fieldset.scheduler-border {
                border: 1px groove #ddd !important;
                padding: 0 1.4em 1.4em 1.4em !important;
                margin: 0 0 1.5em 0 !important;
                -webkit-box-shadow: 0px 0px 0px 0px #000;
                box-shadow: 0px 0px 0px 0px #000;
            }
            
            legend.scheduler-border {
                font-size: 1.2em !important;
                font-weight: normal !important;
                text-align: left !important;
                width: auto;
                padding: 0 10px;
                color: #b3b3b3;
                border-bottom: none;
            }

            .detail-title{
                font-size: 36px;
                font-style: italic;
                font-family: 'Titillium Web',sans-serif;
            }
            h1,h2,h3,h4,h5,h6 {
                font-family: 'Titillium Web',
                sans-serif;
            }
            
            /**  ************************** Form Wizard ********************************** **/