  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{path}}user/{{image}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ fullname }}</p>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <li> <a href="admin-dashboard.php"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a> </li>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Recipies</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="new_recipe.php"><i class="fa fa-plus"></i>New recipe</a></li>
            <li><a href="update_recipe.php"><i class="fa fa-pencil"></i>Update recipe</a></li>
            <li><a href="delete_recipe.php"><i class="fa fa-trash"></i>Delete recipe</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cart-arrow-down"></i>
            <span>Orderes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="all-orders.php"><i class="fa fa-eye"></i>All Orders</a></li>
            <li><a href="pending-orders.php"><i class="fa fa-product-hunt"></i>Pending Orders</a></li>
            <li><a href="ready-order.php"><i class="fa fa-repeat"></i>Ready Orders</a></li>
             
          </ul>
        </li>
        
        
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i>
            <span>Manage Stock</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="order-stock.php"><i class="fa fa-repeat"></i>Order Stock</a></li>
            <hr>
            <li><a href="new-item.php"><i class="fa fa-plus"></i>Add New Item</a></li>
            <li><a href="update-item.php"><i class="fa fa-pencil"></i>Update Item</a></li>
            <li><a href="delete-item.php"><i class="fa fa-trash"></i>Delete Item</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>Staff Area</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          <li><a href="all-staff.php"><i class="fa fa-users"></i>All Staff</a></li>
            <hr>
            <li><a href="new-staff.php"><i class="fa fa-plus"></i>New Staff Member</a></li>
            <li><a href="update-staff.php"><i class="fa fa-pencil"></i>Update Staff Member</a></li>
            <li><a href="delete-staff.php"><i class="fa fa-trash"></i>Delete Staff Member</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-info"></i> <span>Help</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
          </ul>
        </li>
        
        
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>