
<div class="row">
      <section class="col-lg-12 ">
<!-- Main content -->

      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3> {{nextweek|number_format(0,',')}}</h3>

              <h4>NEXT WEEK'S ORDERS</h4>
            </div>
            <div class="icon">
              <i class="ion ion-plus"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3> {{today|number_format(0,',')}}<!--sup style="font-size: 20px">%</sup --></h3>

              <p>TODAY'S ORDERS</p>
            </div>
            <div class="icon">
              <i class="ion ion-clock"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{lowstock|number_format(0,',')}}</h3>

              <p>LOW STOCK ITEMS</p>
            </div>
            <div class="icon">
              <i class="ion ion-code-download"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{outofstock|number_format(0,',')}}</h3>

              <h4>OUT OF STOCK</h4>
            </div>
            <div class="icon">
              <i class="ion ion-code"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
        <!-- ./col -->
        </section>

</div>


