{% extends '_layout.twig' %}
{% block title %}
	<section class="text-center">
    <div class="title">
      <h1 class="jumbotron-heading">{{ page }}</h1>
      <p class="lead ">{{ slogon }}</p>
    </div>
  </section>
{% endblock %}
{% block content %}
<div class="page-font login0">
    <div class="card login mb-5" style="max-width: 40rem;">
        <div class="card-header bg-transparent border-info">Login to your account</div>
            <div class="card-body text-success">
                <form class="form-signin" action="post">
                    <div class="text-center mb-4">
                    </div>
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                    </div>
                    <button class="btn btn-lg btn-outline-warning btn-block" type="submit">Sign in</button>
                </form>
            </div>
            <div class="card-footer bg-transparent border-black">
            Don't have an account?
            <button class="btn btn-sm btn-outline-warning float-right" type="submit">Sign up</button>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<div class="page-font login0">
    <div class="card login mb-5" style="max-width: 40rem;">
        <div class="card-header bg-transparent border-info">Register an account</div>
            <div class="card-body text-success">
                <form class="form-signin" action="post">
                    <div class="text-center mb-4">
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">username</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputFullname" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Full name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Confirm Password</label>
                    </div>
                    <button class="btn btn-lg btn-outline-warning btn-block" type="submit">Sign in</button>
                </form>
            </div>
            <div class="card-footer bg-transparent border-black">
            Don't have an account?
            <button class="btn btn-sm btn-outline-warning float-right" type="submit">Sign up</button>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}

